<html>
<head>
  <meta charset="utf-8">
  <title>Dashboard - PocketBudget</title>
  {{>global_links}}
  <!-- Stepper -->
  <link rel="stylesheet" href="https://unpkg.com/bs-stepper/dist/css/bs-stepper.min.css">
  <script src="https://unpkg.com/bs-stepper/dist/js/bs-stepper.min.js"></script>
</head>
<body>
  <!-- HEADER -->
  {{>navbar2}}
  <!-- END HEADER -->
  <section class="h-100 hero-overlay d-flex jarallax pt-5">
    <div class="container dashboard-bg mt-5 mb-5">
      <div class="row justify-content-center pb-5">
        <h1>Welcome, <b>{{fullname}}</b></h1>
      </div>

      <div class="row">
        <div class="col justify-content-center">
          <center>
            <h2>Current Budget: ${{amount_total}}</h2>
            <p>(In $USD)</p>
            <canvas id="currentBudgetChart"></canvas>
            <p>Bills: $<span id="billsAmount">{{billAmt}}</span></p>
            <p>Food: $<span id="foodAmount">{{foodAmt}}</span></p>
            <p>Gas: $<span id="gasAmount">{{gasAmt}}</span></p>
            <p>Savings: $<span id="savingsAmount">{{savingsAmt}}</span></p>
            <p>Fun: $<span id="funAmount">{{funAmt}}</span></p>
          </center>
        </div>
        <div class="col justify-content-center">
          <center>
            <h2>Current Spending</h2>

          </center>
        </div>
      </div>

      <div class="row justify-content-center mt-5">
        <a href="/enter_transaction"><button class="btn btn-success btn-lg mx-5" type="button">Enter Transaction</button></a>
      </div>
      <div class="row justify-content-center mt-2">
        <a href="/view_transactions"><button class="btn btn-success btn-lg mx-5" type="button">View Transactions</button></a>
      </div>

    </div>
    <img class="jarallax-img opacity-75" src="https://images.unsplash.com/photo-1504983376254-592a0ea9b0cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3291&q=80">
  </section>



  <!-- FOOTER -->
  {{>footer}}
  <!-- END FOOTER -->
  <section class="hidden">

  </section>
  <script type="text/javascript">
  jarallax(document.querySelectorAll('.jarallax'));
  </script>
  <script>
  var billAmt = document.getElementById('billsAmount').textContent;
  var foodAmt= document.getElementById('foodAmount').textContent;
  var gasAmt = document.getElementById('gasAmount').textContent;
  var savingsAmt = document.getElementById('savingsAmount').textContent;
  var funAmt = document.getElementById('funAmount').textContent;

  var ctx = document.getElementById('currentBudgetChart').getContext('2d');

  var currentBudgetChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['Bills', 'Food', 'Gas', 'Savings', 'Fun'],
          datasets: [{
              label: '# of Dollars',
              data: [billAmt, foodAmt, gasAmt, savingsAmt, funAmt],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.8)',
                  'rgba(54, 162, 235, 0.8)',
                  'rgba(255, 206, 86, 0.8)',
                  'rgba(75, 192, 192, 0.8)',
                  'rgba(153, 102, 255, 0.8)',
                  'rgba(255, 159, 64, 0.8)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      }
  });
  </script>
</body>
</html>
